In [1]:
import requests
import json
import sys

sys.path.append('..')

# Data Manipulation
import pandas as pd

from utils import *

# Agregados

In [2]:
url = 'https://servicodados.ibge.gov.br/api/v3/agregados'
df_pesquisa = make_df(get_request_json(url))
df_pesquisa

,id,nome,agregados
0,D5,Áreas Urbanizadas,"[{'id': '8418', 'nome': 'Áreas urbanizadas, Lo..."
1,CL,Cadastro Central de Empresas,"[{'id': '1732', 'nome': 'Dados gerais das empr..."
2,CA,Censo Agropecuário,"[{'id': '1278', 'nome': 'Agroindústria rural n..."
3,ME,"Censo Comum do Mercosul, Bolívia e Chile","[{'id': '2059', 'nome': 'Domicílios e Populaçã..."
4,CD,Censo Demográfico,"[{'id': '1301', 'nome': 'Área e Densidade demo..."
...,...,...,...
62,VS,Produção da Extração Vegetal e da Silvicultura,"[{'id': '5930', 'nome': 'Área total existente ..."
63,PO,Produção de Ovos de Galinha,"[{'id': '915', 'nome': 'Número de informantes,..."
64,IO,Produto Interno Bruto dos Municípios,"[{'id': '599', 'nome': 'Índice de Gini do prod..."
65,XE,Projeção da População,"[{'id': '7362', 'nome': 'Esperança de vida ao ..."
66,SI,Sistema Nacional de Pesquisa de Custos e Índic...,"[{'id': '33', 'nome': 'Custo de projeto m², po..."

### Áreas Urbanizadas

In [3]:
df_d5 = df_pesquisa.iloc[[0]]
#df_d5 = df_cd.explode('agregados')
df_d5

   id               nome                                          agregados
0  D5  Áreas Urbanizadas  [{'id': '8418', 'nome': 'Áreas urbanizadas, Lo...

In [4]:
df_d5['agregados'][0]

[{'id': '8418',
  'nome': 'Áreas urbanizadas, Loteamento vazio, Área total mapeada e Subcategorias'}]

### Censo Demográfico

In [5]:
df_cd = df_pesquisa.iloc[[4]]
df_cd = df_cd.explode('agregados')
df_cd = df_cd.reset_index()
df_cd

,index,id,nome,agregados
0,4,CD,Censo Demográfico,"{'id': '1301', 'nome': 'Área e Densidade demog..."
1,4,CD,Censo Demográfico,"{'id': '617', 'nome': 'Brasileiros natos por u..."
2,4,CD,Censo Demográfico,"{'id': '2149', 'nome': 'Brasileiros natos por ..."
3,4,CD,Censo Demográfico,"{'id': '164', 'nome': 'Chefes de domicílios pa..."
4,4,CD,Censo Demográfico,"{'id': '171', 'nome': 'Chefes de domicílios pa..."
...,...,...,...,...
911,4,CD,Censo Demográfico,"{'id': '241', 'nome': 'Valor do rendimento nom..."
912,4,CD,Censo Demográfico,"{'id': '3283', 'nome': 'Valor do rendimento no..."
913,4,CD,Censo Demográfico,"{'id': '3282', 'nome': 'Valor do rendimento no..."
914,4,CD,Censo Demográfico,"{'id': '3527', 'nome': 'Valor do rendimento no..."
915,4,CD,Censo Demográfico,"{'id': '3514', 'nome': 'Valor do rendimento no..."

In [6]:
df_cd.iloc[[0]]['agregados']

0    {'id': '1301', 'nome': 'Área e Densidade demog...
Name: agregados, dtype: object

In [7]:
df_cd.iloc[[1]]['agregados']

1    {'id': '617', 'nome': 'Brasileiros natos por u...
Name: agregados, dtype: object

## Normaliza todos os Carregados

## Script de Carga

In [8]:
%%time
pass

CPU times: total: 0 ns
Wall time: 0 ns

## Metadados

In [12]:
agregado = 1301
url_metadata = f"https://servicodados.ibge.gov.br/api/v3/agregados/{agregado}/metadados"
url_metadata

'https://servicodados.ibge.gov.br/api/v3/agregados/1301/metadados'

## Rascunho URL

é preciso variar a URL de acordo com o agregado e o nível da localidade

In [13]:
url = 'https://servicodados.ibge.gov.br/api/v3/agregados/8418/variaveis?localidades=N2[all]' 
get_request_json(url)

[{'id': '12747',
  'variavel': 'Áreas urbanizadas densas',
  'unidade': 'Quilômetros quadrados',
  'resultados': [{'classificacoes': [],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Norte'},
      'serie': {'2019': '2810.76'}},
     {'localidade': {'id': '2',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Nordeste'},
      'serie': {'2019': '8218.07'}},
     {'localidade': {'id': '3',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Sudeste'},
      'serie': {'2019': '13968.69'}},
     {'localidade': {'id': '4',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Sul'},
      'serie': {'2019': '8033.19'}},
     {'localidade': {'id': '5',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Centro-Oeste'},
      'serie': {'2019': '3735.56'}}]}]},
 {'id': '12748',
  'variavel': 'Áreas urbanizadas pouco densas',
  'unidade': 'Quilômetros quadrados',
  'resultados': [{'classificacoes': [],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Norte'},
      'serie': {'2019': '1286.83'}},
     {'localidade': {'id': '2',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Nordeste'},
      'serie': {'2019': '2596.68'}},
     {'localidade': {'id': '3',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Sudeste'},
      'serie': {'2019': '2901.27'}},
     {'localidade': {'id': '4',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Sul'},
      'serie': {'2019': '1447.19'}},
     {'localidade': {'id': '5',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Centro-Oeste'},
      'serie': {'2019': '945.97'}}]}]},
 {'id': '12749',
  'variavel': 'Total de áreas urbanizadas',
  'unidade': 'Quilômetros quadrados',
  'resultados': [{'classificacoes': [],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Norte'},
      'serie': {'2019': '4097.59'}},
     {'localidade': {'id': '2',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Nordeste'},
      'serie': {'2019': '10814.75'}},
     {'localidade': {'id': '3',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Sudeste'},
      'serie': {'2019': '16869.95'}},
     {'localidade': {'id': '4',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Sul'},
      'serie': {'2019': '9480.38'}},
     {'localidade': {'id': '5',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Centro-Oeste'},
      'serie': {'2019': '4681.53'}}]}]},
 {'id': '12750',
  'variavel': 'Loteamento vazio',
  'unidade': 'Quilômetros quadrados',
  'resultados': [{'classificacoes': [],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Norte'},
      'serie': {'2019': '194.24'}},
     {'localidade': {'id': '2',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Nordeste'},
      'serie': {'2019': '826.19'}},
     {'localidade': {'id': '3',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Sudeste'},
      'serie': {'2019': '646.18'}},
     {'localidade': {'id': '4',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Sul'},
      'serie': {'2019': '184.49'}},
     {'localidade': {'id': '5',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Centro-Oeste'},
      'serie': {'2019': '256.86'}}]}]},
 {'id': '12751',
  'variavel': 'Área total mapeada',
  'unidade': 'Quilômetros quadrados',
  'resultados': [{'classificacoes': [],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Norte'},
      'serie': {'2019': '4291.83'}},
     {'localidade': {'id': '2',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Nordeste'},
      'serie': {'2019': '11640.94'}},
     {'localidade': {'id': '3',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Sudeste'},
      'serie': {'2019': '17516.14'}},
     {'localidade': {'id': '4',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Sul'},
      'serie': {'2019': '9664.86'}},
     {'localidade': {'id': '5',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Centro-Oeste'},
      'serie': {'2019': '4938.39'}}]}]},
 {'id': '12752',
  'variavel': 'Outros equipamentos urbanos',
  'unidade': 'Quilômetros quadrados',
  'resultados': [{'classificacoes': [],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Norte'},
      'serie': {'2019': '160.96'}},
     {'localidade': {'id': '2',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Nordeste'},
      'serie': {'2019': '382.74'}},
     {'localidade': {'id': '3',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Sudeste'},
      'serie': {'2019': '810.53'}},
     {'localidade': {'id': '4',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Sul'},
      'serie': {'2019': '606.24'}},
     {'localidade': {'id': '5',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Centro-Oeste'},
      'serie': {'2019': '327.25'}}]}]},
 {'id': '12753',
  'variavel': 'Vazios intraurbanos',
  'unidade': 'Quilômetros quadrados',
  'resultados': [{'classificacoes': [],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Norte'},
      'serie': {'2019': '17.67'}},
     {'localidade': {'id': '2',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Nordeste'},
      'serie': {'2019': '64.22'}},
     {'localidade': {'id': '3',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Sudeste'},
      'serie': {'2019': '165.87'}},
     {'localidade': {'id': '4',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Sul'},
      'serie': {'2019': '75.75'}},
     {'localidade': {'id': '5',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Centro-Oeste'},
      'serie': {'2019': '46.89'}}]}]},
 {'id': '12754',
  'variavel': 'Vazios remanescentes',
  'unidade': 'Quilômetros quadrados',
  'resultados': [{'classificacoes': [],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Norte'},
      'serie': {'2019': '1.63'}},
     {'localidade': {'id': '2',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Nordeste'},
      'serie': {'2019': '2.17'}},
     {'localidade': {'id': '3',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Sudeste'},
      'serie': {'2019': '6.37'}},
     {'localidade': {'id': '4',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Sul'},
      'serie': {'2019': '7.87'}},
     {'localidade': {'id': '5',
       'nivel': {'id': 'N2', 'nome': 'Grande Região'},
       'nome': 'Centro-Oeste'},
      'serie': {'2019': '0.50'}}]}]}]