In [1]:
import requests
import json
import sys

sys.path.append('..')

# Data Manipulation
import pandas as pd

from utils import *

# Países

In [2]:
url_paises = "https://servicodados.ibge.gov.br/api/v1/paises/"
df_paises = make_df(get_request_json(url_paises))

In [3]:
df_paises.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id_M49                            273 non-null    int64
 1   id_ISO-3166-1-ALPHA-2             273 non-null    object
 2   id_ISO-3166-1-ALPHA-3             273 non-null    object
 3   nome_abreviado                    273 non-null    object
 4   nome_abreviado-EN                 273 non-null    object
 5   nome_abreviado-ES                 273 non-null    object
 6   area_total                        273 non-null    object
 7   unidade_nome                      273 non-null    object
 8   unidade_símbolo                   273 non-null    object
 9   unidade_multiplicador             273 non-null    int64
 10  regiao_nome                       273 non-null    object
 11  sub-regiao_nome                   273 non-null    object
 12  localizacao_regiao-intermediaria  0 non-null      float64
 13  linguas                           273 non-null    object
 14  capital_nome                      273 non-null    object
 15  unidades-monetarias               273 non-null    object
 16  historico                         273 non-null    object
 17  regiao-intermediaria_nome         116 non-null    object
dtypes: float64(1), int64(2), object(15)
memory usage: 38.5+ KB

In [4]:
df_paises = df_paises.rename(columns={
    'id_M49': 'id-pais'
    ,'id_ISO-3166-1-ALPHA-2': 'sigla-2'
    ,'id_ISO-3166-1-ALPHA-3': 'sigla-3'
})
df_paises.head(1)

,id-pais,sigla-2,sigla-3,nome_abreviado,nome_abreviado-EN,nome_abreviado-ES,area_total,unidade_nome,unidade_símbolo,unidade_multiplicador,regiao_nome,sub-regiao_nome,localizacao_regiao-intermediaria,linguas,capital_nome,unidades-monetarias,historico,regiao-intermediaria_nome
0,39,AD,AND,Andorra,Andorra,Andorra,468,quilômetros quadrados,km2,1,Europa,Europa meridional (Sul da Europa),NaN,"[{'id': {'ISO-639-1': 'ca', 'ISO-639-2': 'cat'...",Andorra-a-Velha,"[{'id': {'ISO-4217-ALPHA': 'EUR', 'ISO-4217-NU...",O Principado de Andorra é um dos menores Estad...,NaN

# Indicadores

In [5]:
url_indicadores = "https://servicodados.ibge.gov.br/api/v1/paises/indicadores/"

In [6]:
df_indicadores = make_df(get_request_json(url_indicadores))
df_indicadores

,id,indicador,unidade_id,unidade_classe,unidade_multiplicador
0,77818,Economia - Chegada de turistas,turistas,N,1.000000e+00
1,77819,Economia - Gastos públicos com educação,% do PIB,N,1.000000e+00
2,77820,Economia - Gastos públicos com saúde,% do PIB,N,1.000000e+00
3,77821,Economia - Investimentos em pesquisa e desenvo...,% do PIB,N,1.000000e+00
4,77822,Economia - Mulheres de 15 anos ou mais de idad...,%,N,1.000000e+00
5,77823,Economia - PIB per capita,US$,N,1.000000e+00
6,77824,Economia - População de 15 anos ou mais de ida...,%,N,1.000000e+00
7,77825,Economia - Total de exportações,US$,N,1.000000e+00
8,77826,Economia - Total de importações,US$,N,1.000000e+00
9,77827,Economia - Total do PIB,US$,N,1.000000e+06
10,77830,Indicadores sociais - Esperança de vida ao nascer,anos,N,1.000000e+00
11,77831,Indicadores sociais - Índice de desenvolviment...,NaN,NaN,NaN
12,77832,Indicadores sociais - População com acesso à á...,%,N,1.000000e+00
13,77833,Indicadores sociais - População com acesso à r...,%,N,1.000000e+00
14,77835,Indicadores sociais - Taxa bruta de matrículas...,%,N,1.000000e+00
15,77836,Indicadores sociais - Taxa de alfabetização da...,%,N,1.000000e+00
16,77838,Meio Ambiente - Áreas cultivadas,% da área total,N,1.000000e+00
17,77839,Meio Ambiente - Áreas de pastagens permanentes,% da área total,N,1.000000e+00
18,77840,Meio Ambiente - Áreas protegidas no total do t...,%,N,1.000000e+00
19,77841,Meio Ambiente - Produção de gás natural,m³,N,1.000000e+09
20,77842,Meio Ambiente - Produção de petróleo,barris/dia,N,1.000000e+03
21,77844,População - Densidade demográfica,hab/km²,N,1.000000e+00
22,77845,População - Homens,habitantes,N,1.000000e+00
23,77846,População - Mulheres,habitantes,N,1.000000e+00
24,77847,População - População residente em área rural,%,N,1.000000e+00
25,77848,População - População residente em área urbana,%,N,1.000000e+00
26,77849,População - População total,habitantes,N,1.000000e+00
27,77850,População - Taxa bruta de mortalidade,por mil,N,1.000000e+00
28,77851,População - Taxa bruta de natalidade,por mil,N,1.000000e+00
29,77852,População - Taxa média anual do crescimento da...,%,N,1.000000e+00
30,77854,Redes - Assinaturas de telefonia celular,a cada 100 habitantes,N,1.000000e+00
31,77855,Redes - Assinaturas de telefonia fixa,a cada 100 habitantes,N,1.000000e+00
32,77857,Redes - Percentual de usuários de Internet,%,N,1.000000e+00
33,77829,Saúde - Consumo calórico,kcal/dia,N,1.000000e+00
34,77834,Saúde - Incidência de subnutrição,%,N,1.000000e+00

In [7]:
country_list = df_paises['sigla-2'].unique()
country_list

array(['AD', 'AE', 'AF', 'AG', 'AL', 'AM', 'AO', 'AR', 'AT', 'AU', 'AZ',
       'BA', 'BB', 'BD', 'BE', 'BF', 'BG', 'BH', 'BI', 'BJ', 'BN', 'BO',
       'BR', 'BS', 'BT', 'BW', 'BY', 'BZ', 'CA', 'CD', 'CF', 'CG', 'CH',
       'CI', 'CL', 'CM', 'CN', 'CO', 'CR', 'CU', 'CV', 'CY', 'CZ', 'DE',
       'DJ', 'DK', 'DM', 'DO', 'DZ', 'EC', 'EE', 'EG', 'ER', 'ES', 'ET',
       'FI', 'FJ', 'FM', 'FR', 'GA', 'GB', 'GD', 'GE', 'GH', 'GM', 'GN',
       'GQ', 'GR', 'GT', 'GW', 'GY', 'HN', 'HR', 'HT', 'HU', 'ID', 'IE',
       'IL', 'IN', 'IQ', 'IR', 'IS', 'IT', 'JM', 'JO', 'JP', 'KE', 'KG',
       'KH', 'KI', 'KM', 'KN', 'KP', 'KR', 'KW', 'KZ', 'LA', 'LB', 'LC',
       'LI', 'LK', 'LR', 'LS', 'LT', 'LU', 'LV', 'LY', 'MA', 'MC', 'MD',
       'ME', 'MG', 'MH', 'MK', 'ML', 'MM', 'MN', 'MR', 'MT', 'MU', 'MV',
       'MW', 'MX', 'MY', 'MZ', 'NA', 'NE', 'NG', 'NI', 'NL', 'NO', 'NP',
       'NR', 'NZ', 'OM', 'PA', 'PE', 'PG', 'PH', 'PK', 'PL', 'PT', 'PW',
       'PY', 'QA', 'RO', 'RS', 'RU', 'RW', 'SA', 'SB', 'SC', 'SD', 'SE',
       'SG', 'SI', 'SK', 'SL', 'SM', 'SN', 'SO', 'SR', 'SS', 'ST', 'SV',
       'SY', 'SZ', 'TD', 'TG', 'TH', 'TJ', 'TL', 'TM', 'TN', 'TO', 'TR',
       'TT', 'TV', 'TZ', 'UA', 'UG', 'US', 'UY', 'UZ', 'VC', 'VE', 'VN',
       'VU', 'WS', 'YE', 'ZA', 'ZM', 'ZW'], dtype=object)

In [8]:
indicator_list = df_indicadores['id'].unique()
indicator_list

array([77818, 77819, 77820, 77821, 77822, 77823, 77824, 77825, 77826,
       77827, 77830, 77831, 77832, 77833, 77835, 77836, 77838, 77839,
       77840, 77841, 77842, 77844, 77845, 77846, 77847, 77848, 77849,
       77850, 77851, 77852, 77854, 77855, 77857, 77829, 77834],
      dtype=int64)

## Carga de Indicadores

+ Será necessário um `for` loop iterando e substituindo a `sigla-2` do país na URL: `"https://servicodados.ibge.gov.br/api/v1/paises/{country}/indicadores"`
+ O retorno de `get_request().get(url_country_indicators).json()` é uma lista com os 35 indicadores de cada país
+ A coluna `series` dos indicadores contém uma lista dos valores do respectivo indicador no grão país, onde cada entrada da lista se refere à um país
    + A ideia é utilizar apenas um país por requisição e utilizar multithreading para melhoras de performance
+ A coluna `series.serie` contém uma lista dos valores do respectivo indicador no grão ano/data para o respectivo país

In [12]:
%%time
df_country_indicators = pd.DataFrame()
for country in country_list:
    url_country = f"https://servicodados.ibge.gov.br/api/v1/paises/{country}/indicadores"
    df_country = make_df(get_request_json(url_country))
    df_country_indicators = pd.concat([df_country_indicators, df_country], ignore_index=True)

CPU times: total: 7.03 s
Wall time: 19.3 s

In [13]:
df_country_indicators

,id,indicador,unidade_id,unidade_classe,unidade_multiplicador,series
0,77818,Economia - Chegada de turistas,turistas,N,1.0,"[{'pais': {'id': 'AD', 'nome': 'Andorra'}, 'se..."
1,77819,Economia - Gastos públicos com educação,% do PIB,N,1.0,"[{'pais': {'id': 'AD', 'nome': 'Andorra'}, 'se..."
2,77820,Economia - Gastos públicos com saúde,% do PIB,N,1.0,"[{'pais': {'id': 'AD', 'nome': 'Andorra'}, 'se..."
3,77821,Economia - Investimentos em pesquisa e desenvo...,% do PIB,N,1.0,"[{'pais': {'id': 'AD', 'nome': 'Andorra'}, 'se..."
4,77822,Economia - Mulheres de 15 anos ou mais de idad...,%,N,1.0,[]
...,...,...,...,...,...,...
6750,77854,Redes - Assinaturas de telefonia celular,a cada 100 habitantes,N,1.0,"[{'pais': {'id': 'ZW', 'nome': 'Zimbábue'}, 's..."
6751,77855,Redes - Assinaturas de telefonia fixa,a cada 100 habitantes,N,1.0,"[{'pais': {'id': 'ZW', 'nome': 'Zimbábue'}, 's..."
6752,77857,Redes - Percentual de usuários de Internet,%,N,1.0,"[{'pais': {'id': 'ZW', 'nome': 'Zimbábue'}, 's..."
6753,77829,Saúde - Consumo calórico,kcal/dia,N,1.0,"[{'pais': {'id': 'ZW', 'nome': 'Zimbábue'}, 's..."
6754,77834,Saúde - Incidência de subnutrição,%,N,1.0,"[{'pais': {'id': 'ZW', 'nome': 'Zimbábue'}, 's..."